<div class="row">
  <hr>
  <div>Source length : {{sourceData.length}}</div>
  <hr>
  <div>Display Items length : {{displayData.length}}</div>
  <hr>
  <div class="col-xs-12">
    <div>

      <button md-raised-button color="primary" (click)="clickAdd$.next($event)">
        Add New
      </button>
    </div>
    <div class="search-results"
         infinite-scroll
         [infiniteScrollDistance]="1"
         [infiniteScrollThrottle]="10"
         (scrolled)="onScrollDown()">
      <lva-grid [datasource]="displayData" (onDelete)="clickDelete$.next($event)"></lva-grid>
    </div>
  </div>
</div>
